section.footer {
    background: hsl(169, 42%, 67%);
    text-align: center;
    @include padding-block(3rem);
    color: $moderate-cyan;
    .pages {
        display: flex;
        gap: 2rem;
        justify-content: center;
        @include padding-block(3rem);
    }
    .socials {
        display: flex;
        gap: 1rem;
        justify-content: center;
        
    }
}